/*TAG SELECTOR*/
body {
  background-color: lightblue;
}
h1 {
  color: red;
  font-size: 100px;
}

h1:hover {
  color: blue;
  font-size: 100px;
}

img {
  background-color: blue;
  width: 200px;
  height: 200px;
}

/*CLASS SELECTOR*/
.bacon {
  background-color: green;
  width: 200px;
  height: 200px;
}
.broccoli {
  background-color: red;
  width: 200px;
  height: 200px;
}
.circular {
  border-radius: 100%;
}
